@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.swiper-slide {
  width: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  background-color: white !important;
  border-radius: 50% !important;
  opacity: 0.8 !important;
  height: 2.5rem !important;
  width: 2.5rem !important;
  z-index: 20 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.swiper-button-disabled{
  display: none !important;
}